html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Lato;
}

section{
  height: 95%;
  width: 100%;
  position: relative;
}

#main{
}

.main-center{
  transform: translateY(-75%);
  width: 100%;
  max-width: 1400px;
  margin: auto;
  top: 50%;
  position: relative;
}

#usage{
  background: linear-gradient(to bottom, #258dc8 0%,#258dc8 100%);
}

#about{
  height: 40%;
  background-color: #333;
}

h1{
  font-family: Lato;
  font-size: 110px;
  font-weight: 100;
  text-align: center;
  margin: 10px;
}

h2{
  font-family: Lato;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin: 5px;
}

.next-arrow{
  display: block;
  margin: 0 auto;
  transform: rotateZ(-45deg);
  width: 20px;
  height: 20px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

.bookmarklet-container{
  position: absolute;
  bottom: 100px;
  left: calc(50% - 225px);
  width: 450px;
  font-size: 24px;
  font-weight: 300;
  color: grey;
}

.bookmarklet{
  color: white;
  font-size: 24px;
  font-family: Lato;
  font-weight: 300;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  background: linear-gradient(to bottom, #49c0f0 0%,#2cafe3 100%);
  border-radius: 5px;
  box-shadow: 0px 0px 1px black;
}
