html,body{
    width: 100%;
    height: 100%;
}

body{
    background: rgb(37,141,200); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(37,141,200,1) 0%, rgba(37,141,200,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,141,200,1)), color-stop(100%,rgba(37,141,200,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 ); /* IE6-9 */
}

h1 {
    font-family: 'Risque', cursive;
    font-size: 150px;
    text-shadow: hsl(200, 100%, 64%) -1px 1px, hsl(200, 100%, 64%) -2px 2px, hsl(200, 100%, 64%) -3px 3px, hsl(200, 100%, 64%) -4px 4px, hsl(200, 100%, 64%) -5px 5px;
    color: white;
}

#headerContainer{
    padding: 20px;
    text-align: center;
}

#mainContainer {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 100%;
    background-color: white;
    text-align: center;
}

.bookmarklet {
    font-size: 14px;
    background-color: #3ec3bc;
    padding: 12px;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}