@import "mixins.scss";

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

#fontmarklet{
  font-family: $font-stack;
  color: $primary-color;
  position: fixed;
  z-index: 999999;
  top: 50px;
  left: 50px;

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  .fm-header{
    background-color: white;
    border-radius: 3px;
    width: 250px;
    height: 30px;
    padding: 7px;
    box-sizing: border-box;
    margin: 2px;
    border: 1px solid #eee;
    text-align: center;
    cursor: move;
  }

  .fm-add-button{
    font-family: $font-stack;
    font-weight: 100;
    background-color: yellowgreen;
    border-radius: 3px;
    width: 250px;
    height: 30px;
    color: white;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin: 2px;
  }

  .fm-font-config:hover{
    position: static;
    .fm-font-config-options{
      opacity: 1;
    }
  }

  .fm-font-config{
    height: 110px;
    overflow: hidden;
    position: relative;
    margin: 3px;
    -webkit-animation-name: sizeup;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    border: 1px solid #eee;

    .fm-disabled{
      padding: 20px;
      box-sizing: border-box;
      position: absolute;
      height: 110px;
      width: 98%;
      z-index: 5;
      background: rgba(170,170,170,0.8);
      text-align: center;
      font-size: 24px;
      color: white;
    }

    .fm-font-config-options{
      opacity: 0;
      position: absolute;
      width: 30px;
      right: -27px;
      transition: 0.2s opacity;

      .fm-font-config-button{
        @include open-right(30px, 75px);
        font-family: $font-stack;
        margin: 7px;
        width: 30px;
        font-weight: 100;
        padding: 5px 0;
        font-size: 16px;
        border-radius: 30px;
        border: none;
        box-shadow: 0px 0px 1px grey;
        cursor: pointer;
        background-color: #DDD;
        text-align: center;
      }

      .fm-remove-button{
        color: white;
        background-color: red;
      }
    }

    .fm-font-config-header{
      background-color: dodgerblue;
      height: 30px;
      padding: 1%;
      box-sizing: border-box;

      .fm-selector-input{
        height: 98%;
        width: 84%;
        border: none;
        background: none;
        color: white;
        font-size: 16px;
        padding: 5px;
        box-sizing: border-box;
        vertical-align: text-bottom;
      }

      .fm-selector-button{
        height: 84%;
        width: 30px;
        font-size: 16px;
        border: none;
        background-color: whitesmoke;
        border-radius: 3px;
        box-shadow: 0px 0px 1px #222;
        background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%);
        cursor: pointer;
        color: white;

        .left{
          padding-top: 3px;
          box-sizing: border-box;
          font-size: 12px;
        }
      }
      .fm-selector-button.node{
        color: white;
        box-shadow: 0px 0px 1px #222 inset;
        background-color: royalblue;
        background: linear-gradient(to bottom, rgba(122,188,255,0.5) 0%,rgba(96,171,248,0.5) 44%,rgba(64,150,238,0.5) 100%);
      }
    }

    .fm-font-config-body{
      background-color: white;
      height: 80px;
      box-sizing: border-box;
      .fm-family-input-container{
        width: 238px;
        height: 45px;
        position: relative;
        .fm-family-input{
          font-size: 28px;
          border: none;
          width: 238px;
          padding: 5px;
          margin: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background: none;
        }
        .fm-family-input-suggestion{
          position: absolute;
          font-size: 28px;
          padding: 5px;
          color: grey;
          width: 238px;
          top: 50%;
          transform: translateY(-50%);
          background: none;
          z-index: 0;
          border: none;
          font-weight: normal;
        }
      }
      .fm-suggestions{
        position: absolute;
        min-width: 248px;
        left: 0;
        margin-top: 40px;
        font-size: 28px;
        color: darkgrey;
        border: none;
        z-index: 2;
        background-color: rgba(255, 255, 255, 0.9);

        .fm-suggestion-selected{
          background-color: dodgerblue;
          color: white;
        }

        ul{
          padding: 5px 8px;
          margin: 0;
        }

        li{
          list-style: none;
        }
      }
      .fm-weight-input{
        font-size: 18px;
        background: none;
        border: none;
        padding: 3px;
      }
    }
  }
}
