#fontmarklet {
  font-family: Helvetica, sans-serif;
  color: #333333;
  position: fixed;
  top: 50px;
  left: 50px;
}
#fontmarklet input:focus,
#fontmarklet select:focus,
#fontmarklet textarea:focus,
#fontmarklet button:focus {
  outline: none;
}
#fontmarklet .fm-header {
  background-color: white;
  border-radius: 3px;
  width: 250px;
  height: 30px;
  padding: 7px;
  box-sizing: border-box;
  margin: 2px;
  box-shadow: 0px 0px 1px black;
  text-align: center;
  cursor: move;
}
#fontmarklet .fm-add-button {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  background-color: yellowgreen;
  border-radius: 3px;
  width: 250px;
  height: 30px;
  color: white;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin: 2px;
}
#fontmarklet .fm-font-config:hover .fm-font-config-options {
  opacity: 1;
}
#fontmarklet .fm-font-config {
  height: 110px;
  margin: 3px;
  box-shadow: 0px 0px 1px black;
}
#fontmarklet .fm-font-config .fm-disabled {
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  height: 110px;
  width: 98%;
  z-index: 5;
  background: rgba(170, 170, 170, 0.8);
  text-align: center;
  font-size: 24px;
  color: white;
}
#fontmarklet .fm-font-config .fm-font-config-options {
  opacity: 0;
  position: absolute;
  width: 30px;
  right: -30px;
  transition: 0.2s opacity;
}
#fontmarklet .fm-font-config .fm-font-config-options button {
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.5s width;
  white-space: nowrap;
  width: 30px;
  padding-left: 0;
  font-family: Helvetica, sans-serif;
  margin: 3px;
  width: 30px;
  font-weight: 100;
  padding: 5px 0;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 0px 1px grey;
  cursor: pointer;
}
#fontmarklet .fm-font-config .fm-font-config-options button span {
  display: inline-block;
  white-space: nowrap;
}
#fontmarklet .fm-font-config .fm-font-config-options button:hover {
  width: 105px;
}
#fontmarklet .fm-font-config .fm-font-config-options button .left {
  width: 30px;
}
#fontmarklet .fm-font-config .fm-font-config-options button .right {
  width: 75px;
}
#fontmarklet .fm-font-config .fm-font-config-options .fm-remove-button {
  color: white;
  background-color: red;
}
#fontmarklet .fm-font-config .fm-font-config-header {
  background-color: dodgerblue;
  height: 30px;
  padding: 1%;
  box-sizing: border-box;
}
#fontmarklet .fm-font-config .fm-font-config-header .fm-selector-input {
  height: 98%;
  width: 84%;
  border: none;
  background: none;
  color: white;
  font-size: 16px;
  padding: 5px;
  box-sizing: border-box;
  vertical-align: text-bottom;
}
#fontmarklet .fm-font-config .fm-font-config-header .fm-selector-button {
  height: 84%;
  width: 30px;
  font-size: 16px;
  border: none;
  background-color: whitesmoke;
  /*border-radius: 3px;*/
  /*box-shadow: 0px 0px 1px black;*/
  cursor: pointer;
}
#fontmarklet .fm-font-config .fm-font-config-header .fm-selector-button .left {
  padding-top: 3px;
  box-sizing: border-box;
  font-size: 12px;
}
#fontmarklet .fm-font-config .fm-font-config-header .fm-selector-button.node {
  color: white;
  background-color: royalblue;
}
#fontmarklet .fm-font-config .fm-font-config-body {
  background-color: white;
  height: 80px;
  box-sizing: border-box;
}
#fontmarklet .fm-font-config .fm-font-config-body .fm-family-input-container {
  width: 238px;
  height: 45px;
}
#fontmarklet .fm-font-config .fm-font-config-body .fm-family-input-container .fm-family-input {
  font-size: 28px;
  border: none;
  width: 238px;
  padding: 5px;
  margin: 0;
  position: absolute;
  background: none;
}
#fontmarklet .fm-font-config .fm-font-config-body .fm-family-input-container .fm-family-input-suggestion {
  position: absolute;
  font-size: 28px;
  padding: 5px;
  color: grey;
  width: 238px;
  background: none;
  z-index: 0;
  border: none;
  font-weight: normal;
}
#fontmarklet .fm-font-config .fm-font-config-body .fm-suggestions {
  position: absolute;
  left: 0;
  margin-top: 40px;
  font-size: 28px;
  color: darkgrey;
  border: none;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
}
#fontmarklet .fm-font-config .fm-font-config-body .fm-suggestions ul {
  padding: 5px 8px;
  margin: 0;
}
#fontmarklet .fm-font-config .fm-font-config-body .fm-suggestions li {
  list-style: none;
}
#fontmarklet .fm-font-config .fm-font-config-body .fm-weight-input {
  font-size: 18px;
  background: none;
  border: none;
  padding: 3px;
}
